.about {
  background-color: $fone;

  .container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    @media (max-width: 1200px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    @media (max-width: 1100px) {
      max-width: 630px;
      padding: 0 20px;
    }

    .about__img {
      display: block;
      align-self: center;
      width: 50%;

      @media (max-width: 1100px) {
        width: 100%;
      }
    }

    .about__text {
      width: 50%;
      padding: 0 79px 0 68px;

      @media (max-width: 1300px) {
        padding: 0 35px 0 35px;
      }
      @media (max-width: 1100px) {
        width: 100%;
        padding: 20px 35px 20px 35px;
      }

      .about__text-title {
        @include contact-text-white;
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 43px;
        margin-bottom: 80px;

        @media (max-width: 1300px) {
          margin-bottom: 30px;
        }
        @media (max-width: 1200px) {
          width: 590px;
        }
      }
      
      .about__text-item {
        @include contact-text-white;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 31px;
      }

      .about__text-text {
        @include contact-text-white;
        margin-bottom: 20px;
      }

      .about__text-button {
        @include button;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}
