.about {
  // margin-bottom: 120px;
  .container {
    max-width: 1600px;
    margin: 0 auto;
    background-color: $fone;
    display: flex;

    .about__img {
      display: block;
      align-self: center;
      max-width: 748px;
      max-height: 748px;
      width: auto;
      height: auto;

      @media (max-width: 1250px) {
        max-width: 448px;
        max-height: 448px;
      }
    }
    .about__text {
      padding: 120px 79px 98px 68px;
      .about__text-title {
        @include contact-text-white;
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 43px;
        margin-bottom: 80px;
      }
      .about__text-item {
        @include contact-text-white;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 31px;
      }
      .about__text-text {
        @include contact-text-white;
        margin-bottom: 20px;
      }
      .about__text-button {
        @include button;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}
