.top {
  padding-top: 120px;
  margin-bottom: 90px;

  .container {
    margin: 0 auto;
    max-width: 1090px;
    padding: 0 20px;
    
    .top__title {
      text-align: center;
      @include contact-text-black;
      font-size: 35px;
      line-height: 43px;
      margin-bottom: 80px;
    }

    .top__card {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @media (max-width: 880px) {
        flex-direction: column;
        
      }
      .cardTop {
        width: 48.572%;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        display: flex;
        margin-bottom: 30px;

        @media (max-width: 880px) {
          width: 100%;
          max-width: 532px;
          margin: 0 auto 30px;
        }

        .card__description {
          width: 65%;
          margin-left: 23px;
          margin-right: 23px;

          .card__description-img {
            margin: 20px 0 27px;
            width: 100%;;
          }

          .card__description-title {
            margin-bottom: 12px;
            @include contact-text-black;
            font-size: 14px;
            line-height: 17px;
          }

          .card__description-text {
            margin-bottom: 10px;
          }

          .card__description-text p {
            margin-bottom: 5px;
            @include contact-text-black;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
          }

          .card__description-color {
            padding-bottom: 12px;

            .color {
              width: 15px;
              height: 16px;
              margin-right: 10px;
              display: inline-block;
              cursor: pointer;
            }
          }
        }
        .card__price {
          position: relative;
          width: 35%;
          background-color: $fone;
          border-top-right-radius: 30px;
          border-bottom-right-radius: 30px;
          text-align: center;
          padding-top: 132px;

          .card__price-content {
            .content__color {
              @include contact-text-white;
              font-weight: 700;
              font-size: 25px;
              line-height: 43px;
            }
            .content__text {
              @include contact-text-white;
              font-size: 22px;
              line-height: 43px;
            }
          }
          
          .card__price-add {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 69px;
            height: 56px;
            border-radius: 30px 0px;
            background: $buttom;
            color: $text;
            font-size: 40px;
          }
        }
      }
    }
  }
}
